<ion-content [fullscreen]="true">
  <ion-header class="header header-md">
    <div class=" bg-gradient-blue" style="cursor:pointer">
      <div class="header-holder ">
        <nav class="nav ">
          <div class="logo">
  
            <div class="brand-name" (click)="StartMarathonPage()">{{title}} </div>
          </div>
          <div class="menu-icon ">
           <div class="dropdown hambergur " >
              <ion-button menuToggle type="button" (click)="menu()" >
                  <img src="../../../assets/icon/hamburger.png">
              </ion-button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <ion-item class="day-container drop-light">
      <ion-item class="header-holder">
        <ion-item class="page-contant-header" style="padding-top: 2px;">
         <ion-text class="page-heading finel-msg " style="color: #85bdcc; ">{{title}}</ion-text>
            <ion-text class="user-profile " style="line-height: 37px;" >
              <img alt="" src="/assets/icon/user.png">
            </ion-text>
        </ion-item>
      </ion-item>
    </ion-item>
    <ion-item class="day-container drop-light" *ngIf="day_exercise_Data != null">
      <ion-item class="header-holder ">
          <ion-item class="page-contant-header" style="padding-top: 2px;">
              <div *ngIf="!pagehead" class="page-head">
                  <div *ngIf="day_exercise_Data?.day" class="page-heading ">
                      {{minTwoDigits(day_exercise_Data?.day)}}
                  </div>
             <div>
              <div class="head-sec" *ngIf="day_exercise_Data_All?.productType=='Extension' || day_exercise_Data_All?.productType=='GreatExtension'">
                          <!-- ПРОДЛЕНИЕ -->
                          {{languageType?.userMarathonDailyExercisePage.extension}}
               <ion-text *ngIf="day_exercise_Data_All?.productType=='GreatExtension'">({{languageType?.userMarathonDailyExercisePage.extensionShort}})</ion-text>
               <ion-text *ngIf="day_exercise_Data_All?.productType=='Extension'">({{languageType.userMarathonDailyExercisePage.simpleextensionShort}})</ion-text>
              </div>
              <div class="day"> {{languageType?.userMarathonDailyExercisePage?.day}} </div>
             </div>
            </div>
            <div *ngIf="pagehead" class="page-heading finel-msg ">{{Subtitle}} </div>
            <div class="day-user">
                  <div class="user-profile"><img alt="" src="/assets/imgs/user.png" /> </div>
                  <div *ngIf="!pagehead" class="war-section"> {{ dayOfWeekInRussian(day_exercise_Data_All?.marathonDay.dayDate)}} </div>
                  <div *ngIf="checkfinalmessages" class="war-section">  {{ dayOfWeekInRussian(finalMessageDate)}}</div>
           </div>
       </ion-item>
     </ion-item>
  </ion-item>
  </ion-header>
  <!-- <div class="day-container res-contant custom-scrollbar drop-light z-i-3" ng-reflect-ng-class="miyabi-container res-contant c">
    <div class="" style="margin-top: -5px;">
      <div class="welcome-text" style="padding-top: 5px;" ng-reflect-ng-style="[object Object]">
        <div class="miyabi-wrapper " ng-reflect-ng-style="[object Object]">
          <div class="topic-text-contant">
              <div>
                 <div><p><ion-text style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">Привет, мои дорогие!😍</ion-text></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Как вы там у меня?</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Каков ваш настрой? Боевой?</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Или всё, решили расслабиться? 😄</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">⠀</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Наш марафон подошёл к концу и теперь вам предстоит самостоятельная работа.&nbsp;</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Я очень надеюсь, что за эти три недели вы узнали для себя что-то новое и приобрели знания, которые пойдут вам на пользу.🙏🏼😇</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">⠀</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Вы мне написали так много тёплых слов!!!</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Мои дорогие, я тоже хочу сказать вам всем от себя</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">БОЛЬШОЕ СПАСИБО ❤️</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">⠀</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Спасибо за ваше доверие!</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Спасибо за ваше терпение, за вашу силу воли, за ваше стремление к лучшему!</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Спасибо за ваше трудолюбие!</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Я уже говорила вам, вы моя гордость, моя мотивация!&nbsp;</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Вы вносите большой вклад в становление Системы Мияби.</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Вы многому меня учите. Именно благодаря вам &nbsp;Мияби совершенствуется.</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Спасибо вам за это!🙏🏻❤️</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">⠀</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Мне с вами было очень приятно работать! 😇 Не скажу, что легко, но очень интересно!&nbsp;</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Очень хочется надеяться, что после окончания марафона наше с вами общение будет продолжаться. 🙏🏼😇😘</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;"><br></span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">На своей основной страничке @vita_bodylove сегодня я опубликую пост &nbsp;"Отзывы" с обращением к моим подписчикам и вам, участникам последнего марафона.</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">⠀</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Дорогие мои, я буду вам очень благодарна, если вы найдёте минутку, и оставите в комментариях к публикации свой отзыв о марафоне, напишите о своих впечатлениях, или о своих изменениях. 🙏🏼😘</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">Ваши отзывы очень важны не только мне, но всем, кто только встал на путь омоложения.</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">⠀</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">А я в свою очередь, в благодарность за оставленные отзывы, между всеми, кто меня поддержит, разыграю 10 призовых билетов в любые из марафонов Мияби. 🙏🏼😘</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">⠀</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;">И пишите мне почаще в основной аккаунт! Делитесь своими результатами! Я буду ждать!</span></span></p><p><span style="font-size: 18px;"><span style="font-family: Arial,Helvetica,sans-serif;"><br></span></span></p><p><span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">Ваш Тренер.&nbsp;<span class="fr-emoticon fr-deletable fr-emoticon-img" style="background: url(https://cdnjs.cloudflare.com/ajax/libs/emojione/2.0.1/assets/svg/2764.svg);">&nbsp;</span> </span></p><p data-f-id="pbf" style="text-align: center; font-size: 0px; margin-top: 30px; opacity: 0.65; font-family: sans-serif;"> <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="">Froala Edi</a><a href="https://www.froala.com/wysiwyg-editor?pb=1" title=""></a><a href="https://www.froala.com/wysiwyg-editor?pb=1" title=""></a></p></div>
              </div>
            </div>
          </div>
         </div>
       </div>
          </div> -->
          <ion-item class="miyabi-container res-contant custom-scrollbar drop-light z-i-3" *ngIf="day_exercise_Data != null">
            <div class="miyabi-wrapper " style="color: #333;padding-top: 8px;">
                <div>
                    <div *ngIf="!checkfinalmessages" [innerHTML]="day_exercise_Data?.description | safeHtml">
                    </div>
                    <div *ngIf="checkfinalmessages" [innerHTML]="datashoe | safeHtml">{{datashoe}}
                    </div>
                </div>
            </div>
        </ion-item>


          <div class="container">
            <div class="day-container ">
            <div class="">
            <div class=" z-i-4">
              <div class="marthon-day-list">
                <div *ngIf=" daydetails " > {{daydetails.details}} </div>
                <ion-grid>
                  <ion-row  *ngFor="let items of monthDay | keyvalue">
                    <ion-col size="4" class=" day-block dayloop" *ngFor="let item of items.value.days | keyvalue">
                     <div  [ngStyle]="{'background-color':dayColor[item.key]}" >
                     <ion-text class="day-name" >{{languageType.marathonStartPage.day}}</ion-text>
                     <ion-text class="day-digit" (click)=" getDayDetails(item)">{{item.value}}</ion-text>
                     </div>
                   </ion-col>
                  <ion-col size="8" class=" day-block"  >
                    <div class="day-no day-1 start-block">
                      <div class="start-date">
                        <span class="start-head ml-auto" style="margin-right: 7px;"> {{languageType.marathonStartPage.week}}{{items.key}}</span>
                    </div>
                    
                    </div>
                  </ion-col>
                  
                  </ion-row>

       </ion-grid>
      </div>
    
  </div>
  </div>
  </div></div>
  <div class="bg-gradient-blue" style="cursor:pointer" >
    <div class="miyabi-container ">
        <nav class="nav footer">
            <div class="logo" (click)="moveUp()">
                <a class="brand-name"> {{languageType?.userMarathonDailyExercisePage?.goUp}}
                    <img src="/assets/imgs/arrow-top.png" />
                </a>
            </div>
            <div class="language-con">
                <p [ngClass]="(langCode == 'Rus')?'fabBtnActive':'language'" (click)="russian()"
                    style="float: right; ">Ru</p>
                <p [ngClass]="(langCode == 'Eng')?'fabBtnActive':'language'" (click)="english()"
                    style="float: right;margin: 0 4px;">En</p>
                <p style="float: right;" (click)="italian()"
                    [ngClass]="(langCode == 'Ita')?'fabBtnActive':'language'">It</p>
            </div>
        </nav>
    </div>
</div>
</ion-content>
