    .detailinfo{
        display: block;
        font-size: 38px;
        font-family: 'Myriad Pro-Condensed';
        line-height: 38px; 
    }
    .offer-block .detail-sec strong {
      font-family: "MyriadProBoldCond";
      color: #007e9e;
      font-weight: 800;
      letter-spacing: 0;
      color: #007e9e;
  }
  .offer-block .detail-sec p {
    font-family: "MyriadProCond";
    font-size: 18px;
    line-height: 22px;
    color: #007e9e;
    border: 0;
    margin-bottom: 0px;
    margin-top: 3px;
}
    .btn-fill-theme {
      color: #ffffff;
      font-size: 16px;
      font-family: "PT Sans", Arial, sans-serif;
      line-height: 1.55;
      font-weight: 600;
      border-width: 1px;
      border-radius: 50px;
      background-color: #6f4075;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
  
    .btn {
      font-size: 50px;
      line-height: 1;
      background-color: #b077ac;
      font-family: MyriadProCond;
      width: 250px;
      box-shadow: 3px 3px 6px #3333;
      border-radius: 15px;
      padding: 0 25px;
      min-height: 70px;
      margin: 10px;
      font-weight: 500;
      color: #fff;
    }
    button.btn-order {
      // background: #049fadba;
      border:0;
  }
  .order-footer .btn-order{
    background:linear-gradient(#70d1cc, #007e9e);
  }
  .btn-order.btn-gradeient {
    background: linear-gradient(#70d1cc, #007e9e) !important;
  }
    .btn,
    .btn-outline-theme {
      &:hover {
        background-color: #cffcfb;
        border-color: #ffffff;
        color: #fff;
      }
    }
  
    .btn-outline-theme {
      color: #ffffff;
      font-size: 18px;
      font-family: "PT Sans", Arial, sans-serif;
      line-height: 1.55;
      font-weight: 600;
      border-width: 2px;
      border-radius: 50px;
      background-position: center center;
      border-color: #ffffff;
      border-style: solid;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
    .container {
      z-index: 1;
      position: relative;
    }
  
    .main-csection {
      min-height: 650px;
      height: 100vh;
      max-width: 100%;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(113, 46, 133, 0.3)),
        to(rgba(5, 24, 69, 0.6))
      );
      background-image: -webkit-linear-gradient(top, rgba(113, 46, 133, 0.3), rgba(5, 24, 69, 0.6));
      background-image: linear-gradient(to bottom, rgba(113, 46, 133, 0.3), rgba(5, 24, 69, 0.6));
    }
  
    .add-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 50px;
    }
  
    .water-mark-order {
      left: 0px;
      opacity: 0px;
      height: 100%;
    }
    .hambergur {
      display: flex;
      align-items: center;
    }
  
    .hambergur button {
      background: transparent;
      border: 0;
      box-shadow: 0;
      padding: 0;
    }
  
    .hambergur img {
      width: 32px;
      max-width: 8vw;
    }
  .hambergur .dropdown-menu {
      padding: 0;
      background: #262a49;
      color: #fff;
      text-transform: capitalize;
      font-size: 32px;
      line-height: 36px;
      border-radius: 0;
      width: 380px;
      max-width: 70vw;
      left: auto !important;
      right: 0;
      top: 100% !important;
      transform: translate3d(0, 0, 0px) !important;
      li {
        border-bottom: 1px solid #fff;
        padding: 20px 30px;
        color: #fff;
        &:first-child {
          padding-top: 40px;
        }
      }
    }
    ul.active.dropdown-menu {
      display: block;
      z-index: 10000;
    }
  
    .banner {
      background-image: url(https://static.tildacdn.com/tild3231-6133-4165-b264-393537656563/fon1.jpg);
      background-size: cover;
      background-position: top center;
      padding: 30px 20px;
      margin: 20px 15px;
  
      .banner-about {
        color: #fff;
        .banner-title {
          font-size: 32px;
          line-height: 1.25;
          margin-bottom: 10px;
          color: #fff;
        }
  
        .date-details {
          font-size: 20px;
          line-height: 1.4;
          margin-bottom: 10px;
          color: #fff;
          span {
            color: white;
            font-size: 22px;
            font-weight: 700;
          }
        }
  
        .banner-details {
          font-size: 18px;
          line-height: 1.5;
          color: #fff;
        }
      }
  
      .start-btn {
        margin-top: 15px;
        .btn {
          border-radius: 50px;
          width: auto;
          font-family: "MyriadProBoldCond";
          font-size: 60px;
          min-height: 50px;
          padding: 9px 50px;
          line-height: 1.2;
          .fa {
            font-size: 50px;
          }
        }
      }
    }
  
  
    .btn-purple {
      background:linear-gradient( #C782C3,#795576) !important;
      color: #fff !important;
    }
    .btn-color-purple {
      background: transparent !important;
      color: #b076ac !important;
      box-shadow: none !important;
      padding: 7px 27px;
      font-size: 22px;
      line-height: 20px;
      min-height: 40px;
      width: auto;
      min-height: auto;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  
    .water-mark-order {
      position: absolute;
      z-index: 1000;
      left: -10px;
      height: 100%;
    }
    .login-btn {
      width: 90%;
      padding: 5px 10px;
      border-radius: 25px;
      background-color: #049fad;
      font-size: 27px;
      text-align: center;
      max-width: 80vw;
      margin: 0 auto;
      display: block;
      margin-bottom: 12px;
    }
    .btn-order {
      padding: 7px 27px;
      font-size: 5.667vw;
      line-height: 6.667vw;
      min-height: 40px;
     
      color: #fff;
      background: linear-gradient(#70d1cc, #007e9e);
      border-radius: 50px;
      width: 36vw;
      min-height: auto;
      display: flex;
      align-items: center;
      white-space: nowrap;
      justify-content: center;
    }
  
    .btn-order i {
      margin-left: 15px;
    }
    .btn-order.btn-full {
      width: 100%;
      font-size: 24px;
      line-height: 20px;
      min-height: 52px;
      padding: 1px 20px;
      white-space: initial;
      position: relative;
      z-index: 100;
      height: 50px;
    }
    .head {
      background: linear-gradient(#fff, #4cb4c9 270%);
      box-shadow: 0px 1px 5px #b5c0de;
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 44px;
      font-family: "MyriadProCond";
      text-align: center;
      color: #049fad;
      padding: 16px 25px 17px;
    }
  
    .offer-block {
      display: block;
      background-color: #fff;
      text-align: center;
      padding: 10px 5px 5px;
      position: relative;
      margin-bottom: 4px;
      box-shadow: 0 1px 5px #b5c0de;
      margin-left: -40px;
      .offer-about-block {
        display: flex;
        justify-content: center;
      }
      .read-more {
        position: absolute;
        z-index: 99;
        font-size: 18px;
        line-height: 20px;
        color: #007e9e;
        right: 10px;
        bottom: 20px;
        
      }
      .img-sec {
        width: 50%;
        max-width: initial;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
  
        img {
          margin: 0 auto;
          border-radius: 50%;
          margin-bottom: 10px;
          width: 140px;
          min-height: 140px;
          max-width: 100%;
        }
      }
  
      .detail-sec {
        width: 50%;
        padding: 0 0px 8px 10px;
        // padding-bottom: 24px;
        position: relative;
        text-align: left;
        height: auto;
  
        
        .read-more {
          position: absolute;
          font-size: 18px;
          line-height: 22px;
          color: #007e9e;
          right: 10px;
          top: 180px;
          font-family: "MyriadProBoldCond";
        }
      }
    }
  
    .btn-join {
      padding: 7px 12px;
      font-size: 18px;
      line-height: 25px;
      color: #fff;
      background: #049fad;
      border-radius: 50px;
      margin: 0 auto;
    }
  
    .offer-block .order-footer {
      margin: 0px -5px -10px -5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 5px;
      position: relative;
      z-index: 1000;
      min-height: initial;
      background-color: #2f9fac;
      background-image: linear-gradient(#8dccd4, #2f9fac); 
  
      .btn.btn-order {
        border: 1px solid #fff;
        margin: 0 auto;
        box-shadow: none;
        width: 100%;
        white-space: nowrap;
        width: auto;
        height: auto;
      }
      & > * {
        width: 40%;
        text-align: center;
      }
      .expiry-about {
        color: #fff;
        font-size: 5.2vw;
        letter-spacing: -0.5px;
        font-family: "MyriadProCond";
        line-height: 4.6vw;
        width: 49% !important;
        & > span {
          display: inline-block;
      }
      }
    }
  
    .btn-order {
      margin-left: 0;
      min-width: 146px;
      width: 126px;
      margin-left: 12px;
      white-space: nowrap;
      height: 45px;
    }
    .offer-block .offer-about-block {
      justify-content: flex-start;
    }
  
    .language-con {
      top: 0;
      right: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      background: transparent;
      box-shadow: none;
      position: absolute;
      left: 0;
      width: 100%;
     
      padding: 3px 5px;
      z-index: 1000;
  
    }
    .fabBtnActive {
      height: 30px;
      width: 30px;
      border-radius: 50px;
      background-color: rgba(4, 159, 173, 0.73) !important;
      border: 1px solid rgba(4, 159, 173, 0.73) !important;
      color: #fff;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(250, 248, 248, 0.4); /* Black w/ opacity */
    }
  
    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 0px solid #888;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      height: 100%;
    }
  
    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }
  
    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }
  
    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .modal-body {
      max-height: 100%;
      overflow-y: hidden;
      background-color: #b7d8e2;
      color: #fff;
      padding: 0;
      overflow: scroll;
    }
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  
    .modal-header {
      padding: 2px 5px;
      background-color: #77a2af;
      color: white;
    }
  
    .modal-body {
      padding: 2px 0px;
    }
  
    .modal-close {
      cursor: pointer;
  
      background-color: #77a2af;
    }
    .modal1 {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 48px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.4);
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 4px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
      background-color: rgba(0, 0, 0, 0.4);
    }
    .btn-modal {
     
      box-shadow: 6px 6px 6px #00000029;
      
    }
    .offer-block .offer-block-btn-group .read-more {
      bottom: 2px;
    }
    .offer-block-btn-group {
      position: relative;
      min-height: 30px;
    }
    .btn-order1 {
      padding: 7px 27px;
      font-size: 6.6667vw;
      line-height: 6.66667vw;
      min-height: 40px;
     
      color: #fff;
      background: #b076ac;
      border-radius: 50px;
      width: auto;
      max-width: auto;
      min-height: auto;
      display: flex;
      align-items: center;
      white-space: nowrap;
      justify-content: center;
    }
    .btn-order1.btn-full {
      width: 100%;
      font-size: 22px;
      line-height: 20px;
      min-height: 40px;
      padding: 1px 20px;
      white-space: initial;
      position: relative;
      z-index: 100;
    }
    .btn.btn-order1 {
      border: 1px solid #fff;
      box-shadow: none;
      white-space: nowrap;
      width: auto;
    }
    .btn.btn-order1 {
      border: 1px solid #fff;
      -webkit-box-shadow: none;
      box-shadow: none;
      white-space: nowrap;
      min-width: 140px;
      margin-left: 0px;
      margin-left: 12px;
    }
    .order-footer {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: auto;
    }
 
    
    .miyabi-read-more .modal-body {
      background-color: #a9cedb;
      font-size: 24px;
      line-height: 32px;
      padding: 50px 10px 15px;
    
     
    }
    .miyabi-read-more .modal-body p span {
      font-size: 24px !important;
     
      line-height: 32px;
    }
    .btn.btn-login {
      width: calc(100% - 20px);
      margin: 0 10px 10px;
      min-width: auto;
      font-size: 24px;
      line-height: 20px;
      font-family: MyriadPro-BoldCond;
      padding: 5px 20px;
  }
  .btn-login {
    background-image: linear-gradient(#70d1cc,#007e9e);
    padding: 10px 30px;
    font-size: 24px;
    box-shadow: none;
    line-height: 24.88px;
    border-radius: 60px;
    border: 0;
    color: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 283px;
    font-family: MyriadPro-Cond;
}
.bg-gradient-blue {
  background-image: linear-gradient(45deg,#b4b0db,#b7d8e2);
  color: #fff;
}

.menu {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  margin-left: 242pt;
  margin-bottom: 10px;
}
.logo .brand-name {
  font-size: 31px;
  font-family: "MyriadProRegular";
  white-space: nowrap;
  max-width: 74vw;
  min-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.langbtn{
  margin-left:291px ;
}
@media only screen and (min-width: 600px) {
  .btn-order {
   
    min-width: 146px;
    width: 126px;
    margin-left: 56px !important;
    white-space: nowrap;
    height: 45px;
  }
.btn-order {
  padding: 7px 27px;
  font-size: 23px !important;
  line-height: 23px !important;
  min-height: 40px;
 
  color: #fff;
  background: linear-gradient(#70d1cc, #007e9e);
  border-radius: 50px;
  width: 36vw;
  min-height: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}

.btn.btn-order1 {
  border: 1px solid #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  white-space: nowrap;
  min-width: 140px;
  margin-left: 112px !important;
}
.btn-order1 {
  padding: 7px 27px;
  font-size: 23px !important;
  line-height: 23px !important;
  min-height: 40px;
 
  color: #fff;
  background: #b076ac;
  border-radius: 50px;
  width: auto;
  max-width: auto;
  min-height: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}
.btn-color-purple {
  background: transparent !important;
  color: #b076ac !important;
  box-shadow: none !important;
  padding: 7px 27px;
  font-size: 22px;
  line-height: 20px;
  min-height: 40px;
  width: auto;
  min-height: auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 117px !important;
}
.menu {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  margin-left: 507pt !important;
  margin-bottom: 20px !important;
}

.langbtn{
  margin-left: 652px !important;
}
}
  