<ion-content>
  <div class=" bg-gradient-blue" id="notifications-list" style="cursor:pointer">
    <div class="miyabi-wrapper " style="margin: 0 auto;">
      <nav class="nav ">
        <div class="logo">
          <a class="brand-name">{{languageType?.editProfilePage?.gotoMarathon}}</a>
        </div>
        <div class="menu-icon ">
          <div class="dropdown hambergur ">
            <button class="menu" type="button" (click)="menubar()" > <img src="../../../assets/icon/hamburger.png"></button>          
          </div>
        </div>
      </nav>
    </div>
  </div>
 
<!-- Courses============================================================================================ -->
<div class="availble-block" *ngIf=" allMarathon != null" >
  <div class="head">{{languageType.landingPage.courses}}</div>
     <ul class="offer-avail" *ngFor="let item of allMarathon.currentCourses let i= index">
    <div>
      <li class="offer-block">
        <div class="offer-about-block">
          <div class="img-sec">
            <img class="offer-img" [src]="item.imagePath" />
        </div>

        <div class="detail-sec">
             <img *ngIf="item.isGreatExtensionAvailable || item.isExtension" class="water-mark-order" src="../../../assets/icon/Group 3892.svg" />
            <div>
              <p><strong>{{item.title}}</strong></p>
              <p>{{item.subTitle}}</p>
              <p>{{languageType.landingPage.startNameTitle}}
                 <strong style="font-family: MyriadProBoldCond !important">{{dateFormatConvert(item.startDate)}}</strong>
              </p>
              <p>{{languageType.landingPage.marathonLength}}
                {{item.days}}
                {{daySpelling(item.days)}}
              </p>
            </div>

            <p class="Cost">
              {{languageType.landingPage.costForParticipation}}
              {{item.cost}}
              {{languageType.landingPage.costCode}}
            </p>
        </div>
        </div>
         <button class="btn btn-order mt-auto" (click)="goToMarathon(item.id , item.isExtension)"
          *ngIf="!item.isGreatExtensionAvailable && !item.isExtension"  style="outline: none;">
           {{languageType.myOrdersListPage.gotoMarathon}}
        </button>
       <a (click)="readMore(item.description)" data-toggle="modal" data-target="#myModal" class="read-more">
        {{languageType.myOrdersListPage.learnMore}}
      </a>
    </li>
  </div>

    <li class="offer-block" *ngIf="item.isPurchased && !item.isOutDated && item.isGift && !item.isCouponUsed">
      <div class="offer-about-block">
        <div class="img-sec">
          <img class="offer-img" [src]="item.imagePath" />
          <button class="btn btn-order mt-auto" (click)="copyCoupon(item.coupon)" style="outline: none;">
            {{item.coupon}} <ion-icon name="copy" style="font-size: 23px; margin-left: 6px ;"></ion-icon>
          </button>
        </div>
        <div class="detail-sec">
          <div>
            <p>
              <strong>{{item.title}} </strong>
            </p>
            <p>{{item.subTitle}}</p>
            <p>
              {{languageType.landingPage.startNameTitle}}
              <strong style="font-family: MyriadProBoldCond !important">{{dateFormatConvert(item.startDate)}}</strong>
            </p>
            <p>
              {{languageType.landingPage.marathonLength}}
              {{item.days}}
              {{daySpelling(item.days)}}
            </p>
           </div>
          <p class="Cost" >
            {{languageType.landingPage.costForParticipation}}
            {{item.cost}}
            {{languageType.landingPage.costCode}}
          </p>
        </div>
      </div>
      <a (click)="readMore(item.description)" data-toggle="modal" data-target="#myModal" class="read-more">
        {{languageType.myOrdersListPage.learnMore}}
      </a>
    </li>
  </ul>
</div>
 <!-- Available============================================================================================ -->
 <div class="availble-block" *ngIf=" allMarathon != null" >
  <div class="head">{{languageType.landingPage.available}} </div>
  <ul class="offer-avail" *ngFor="let item of allMarathon.availableCourses let i= index">
    <li class="offer-block" *ngIf="!item.isPurchased">
      <a (click)="readMore(item.description)" data-toggle="modal" data-target="#myModal" class="read-more" *ngIf="!item.isGreatExtensionAvailable && !item.isExtension">
        {{languageType.myOrdersListPage.learnMore}}
      </a>
      <div class="offer-about-block">
        <div class="img-sec"> <img class="offer-img" [src]="item.imagePath" />  </div>
        <div class="detail-sec"> <img *ngIf="item.isGreatExtensionAvailable || item.isExtension" class="water-mark-order" src="../../../assets/imgs/Group 3892.svg" />
          <div>
            <p> <strong>  {{item.title}}  </strong> </p>
            <p> {{item.subTitle}}  </p>
            <p> {{languageType.landingPage.startNameTitle}}
              <strong style="font-family: MyriadProBoldCond !important">{{dateFormatConvert(item.startDate)}}</strong>
            </p>
            <p>
              {{languageType.landingPage.marathonLength}}
              {{item.days}}
              {{daySpelling(item.days)}}
            </p>
          </div>
           <p class="Cost">
            {{languageType.landingPage.costForParticipation}}
            {{item.cost}}
            {{languageType.landingPage.costCode}}
          </p>
        </div>
      </div>
      <button *ngIf="!item.isGreatExtensionAvailable && !item.isExtension" class="btn btn-order1 mt-auto btn-purple" style="outline: none;" (click)="purchaseMarathon(item.id,item.cost,item)" >
          {{languageType.landingPage.join}}
      </button>
       <div>
         <button (click)="setItemsDetaisl(item)" data-toggle="modal" data-target="#ExtensionModal" *ngIf="item.isGreatExtensionAvailable || item.isExtension" 
         class="btn btn-order btn-full " style="border-radius: 50px; outline: none;">
             {{languageType.landingPage.expireAbout}}
          </button>
      </div>
    </li>
  </ul>
</div>

     <!-- Archive ==================================================================================================== -->
     <div class="availble-block" *ngIf=" allMarathon != null" >
      <div class="head"> {{languageType.landingPage.archive}} </div>
      <ul class="offer-avail" *ngFor="let item of allMarathon.archives  let i= index">
        <li class="offer-block" *ngIf="item.isPurchased && item.isGift && item.isCouponUsed && item">
         <div class="offer-about-block">
            <div class="img-sec">
              <img class="offer-img" [src]="item.imagePath" />
            </div>
            <div class="detail-sec">
              <div>
                <p> <strong> {{item.title}} </strong> </p>
                <p> {{item.subTitle}} </p>
                <p>  {{languageType.landingPage.startNameTitle}}
                  <strong style="font-family: MyriadProBoldCond !important">{{dateFormatConvert(item.startDate)}}</strong>
                </p>
                <p>
                  {{languageType.landingPage.marathonLength}}
                  {{item.days}}
                  {{daySpelling(item.days)}}
                </p>
              </div>
               <p class="Cost">
                {{languageType.landingPage.costForParticipation}}
                {{item.cost}}
                {{languageType.landingPage.costCode}}
              </p>
            </div>
            <button class="btn  mt-auto btn-color-purple">
              {{item.coupon}} <ion-icon name="copy" style="font-size: 23px;
                margin-left: 6px ;"></ion-icon>
            </button>
          </div>
          <a (click)="readMore(item.description)" data-toggle="modal" data-target="#myModal" class="read-more" *ngIf="!item.isGreatExtensionAvailable && !item.isExtension">
            {{languageType.myOrdersListPage.learnMore}}
          </a>
        </li>
       <li class="offer-block" *ngIf="item.isPurchased && item.isOutDated && !item.isGift">
           <div class="offer-about-block">
           <div class="img-sec">
              <img class="offer-img" [src]="item.imagePath" />
         </div>
         <div class="detail-sec">
              <div>
                <p><strong> {{item.title}} </strong> </p>
                <p> {{item.subTitle}} </p>
                <p> {{languageType.landingPage.startNameTitle}}
                  <strong style="font-family: MyriadProBoldCond !important">{{dateFormatConvert(item.startDate)}}</strong>
                </p>
                <p>
                  {{languageType.landingPage.marathonLength}}
                  {{item.days}}
                  {{daySpelling(item.days)}}
                </p>
             </div>
              <p class="Cost">
                {{languageType.landingPage.costForParticipation}}
                {{item.cost}}
                {{languageType.landingPage.costCode}}
              </p>
           </div>
         </div>
          <button  data-toggle="modal" data-target="#ExtensionModal"  class="btn btn-order btn-full " style="border-radius: 50px; outline: none;" *ngIf="item.isExtensionAvilable" style="outline: none;">
             {{languageType.landingPage.expireAbout}}
         </button>
           <button class="btn btn-color-purple" *ngIf="!item.isExtensionAvilable" style="outline: none;"> {{languageType.landingPage.over}} </button>
        </li>
      </ul>
    </div>


   <!-- bottom -->
     <div class="bg-gradient-blue" style="cursor:pointer; margin-top: auto;" *ngIf=" allMarathon != null">
      <div class="miyabi-container ">
        <nav class="nav footer">         
          <div class="hambergur">
            <div class="langbtn">
              <p [ngClass]="(langCode == 'Rus')?'fabBtnActive':'language'" (click)="russian()" style="float: right; ">Ru
              </p>
              <p [ngClass]="(langCode == 'Eng')?'fabBtnActive':'language'" (click)="english()"
                  style="float: right;margin: 0 4px; margin-top:12px">En</p>
              <p style="float: right;" (click)="italian()" [ngClass]="(langCode == 'Ita')?'fabBtnActive':'language'">It
              </p>
            </div>
          </div>
        </nav>
      </div>
    </div>

</ion-content>
