
  body {
    background-color: rgb(254, 254, 254);
  }

  body {
    background-color: rgb(254, 254, 254);
    font-family: "MyriadProRegular";
    min-width: 320px;
    max-width: 100vw;
    overflow-x: hidden;
  }

  a {
    color: #70d1cc;
  }

  a:not([href]):not([tabindex]) {
   
    text-decoration: none;
  }

  .login-body {
    color: #717171;
    overflow-x: hidden;
    position: relative;
    background-image: url("../../assets/icon/mma-background-375.png");
    background-size: 100% 100%;
    min-height: 100vh;
  }

  .logo-detail {
    text-align: center;
    padding: 0 0;
    max-width: 80%;
    width: calc(100vw - 30px);
    margin-left: 14%;
  }

  a.agreement {
    color: #70d1cc;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding-top: 6px;
    line-height: 15px;

    img {
      height: 23px;
      margin-left: 10px;
    }
  }

  .miyabi-container {
    min-width: 320px;
    margin: 0 auto;
  }

  .martahon-bg {
    position: relative;
    display: block;
  }

  .martahon-bg .bg-img-right {
    position: absolute;
    left: 100%;
    top: 0;
    max-height: 100%;
  }

  .martahon-bg .bg-img-left {
    position: absolute;
    right: 100%;
    top: 0;
    max-height: 100%;
  }

  .btn-login {
    background-image: linear-gradient(#70d1cc, #007e9e);
    padding: 18px 30px;
    color: rgb(255, 255, 255);
    font-size: 37.4px;
    box-shadow: none;
    line-height: 44.88px;
    border-radius: 60px;
    border: 0;
    display: block;
    margin: 0 auto;
    min-width: 283px;
    outline: none;
  }

  .login-section {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  .login-block {
    background-color: #f7f7f7;
    padding: 17px 0;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
    border-radius: 14px;
    max-width: 350px;
    width: calc(100vw - 30px);
    margin-top: 2vh;
    margin-bottom: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137254902);
  }

  .head,
  .head:hover {
    font-size: 20.9px;
    line-height: 31.08px;
    background-color: rgb(229, 103, 172);
    color: rgb(255, 255, 255) !important;
    padding: 11px 5px;
    display: block;
    background-image: none;
    box-shadow: none;
    margin-bottom: 0 !important;
    width: 100%;
    font-family: "MyriadProRegular";
  }

  .nav-tabs .nav-item {
    margin-bottom: 0 !important;
  }

  .head.active,
  .head.active:hover {
    font-size: 22.9px;
    line-height: 31.08px;
    color: rgb(229, 103, 172) !important;
    background-color: transparent;
    padding: 11px 5px;
    font-family: "MyriadProRegular";
  }

  .login-section .nav {
    min-height: 53px;
  }

  .btn:hover {
    color: #fff;
    text-decoration: none;
  }

  .form {
    padding: 0 30px;
  }

  .form-control {
    height: 50px;
    font-size: 24px;
    line-height: 30px;
    color: #717171;
    border: 1px solid #70d1cc;
    border-radius: 80px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 300px;
    padding: 20px 10px;
    max-width: 100%;

    &::placeholder {
      text-align: center;
    }
  }

  .forget {
    color: #70d1cc;
    font-size: 18px;
    line-height: 19px;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 12px;
    display: inline-block;
  }

  .nav {
    padding: 0;
  }



  .nav {
    border-bottom: 0;
    margin-bottom: 15px;
  }

  .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
    height: 100%;
  }

  .scroll-content {
    margin-top: 0px !important ;
  }
  .miyabi-container.martahon-bg {
    -webkit-box-shadow: 0px 0px 21px #33333330;
    box-shadow: 0px 0px 21px #33333330;
    min-height: 100vh;
    min-width: 100vw !important;
  }

