<ion-content  >
   <div class="miyabi-container login-body martahon-bg">
        <div>
            <div class="logo-detail" >
              <img  style="text-align: center; margin-top:20px " class="" src="../../assets/icon/logo-details-sm.svg"/>
            </div>
        </div> 
         <form #form="ngForm" (ngSubmit)="login(form)">
            <div class="container">
                <div class="login-section">
                    <div class="login-block">
                      <ion-grid>
                        <ion-row class="nav nav-tabs">
                        <ion-col size="6" class="nav-item" >
                          <a  style="border-top-left-radius: 14px;"
                          data-toggle="tab" [ngClass]="(activePage == 'login')?'head active':'head '" (click)="activepage('login')" >
                          {{languageType?.registerPage?.loginButtonTittle}}
                          </a>
                       </ion-col>
                       <ion-col size="6" class="nav-item" >
                        <a style="border-top-right-radius: 14px;" data-toggle="tab" [ngClass]="(activePage == 'register')?'head active':'head '" (click)="activepage('register')">
                          {{languageType?.registerPage?.registerButtonTitle}}
                         </a>
                    </ion-col>
                  </ion-row>
               </ion-grid>
               
               <!-- login form -->
               
                    <div *ngIf="activePage == 'login'" >
                          <div  class="form" (ngSubmit)="login(form)">
                            <input type="text" style=" outline: none;"[(ngModel)]="email"  class="form-control ng-untouched ng-pristine ng-valid" placeholder="Enter Username" name="email" required >
                            <input type="password" style=" outline: none;" [(ngModel)]="password"  class="form-control ng-untouched ng-pristine ng-valid" placeholder="Enter password" name="password" required>
                          </div>
                            <a  class="forget" > {{languageType?.registerPage?.forgotPasswordTitle}} </a>
                            <button type="submit"  expand="full" class="btn btn-login"  >
                                      {{languageType?.registerPage?.loginButtonTittle}}
                            </button>
                    </div>
                
              <!-- Registration form -->
                    <div *ngIf="activePage == 'register'"  >
                      <div class="form" (ngSubmit)="register(form)">
                          <input type="text" [(ngModel)]="email" class="form-control ng-untouched ng-pristine ng-valid" placeholder="{{languageType?.registerPage?.emailPlaceholder}}" name="email" pattern=".*\\S.*[a-zA-Zа-яА-Я0-9.-_!#$%^&*()]{1,}@[a-zA-Zа-яА-Я.-]{2,}[.]{1}[a-zA-Zа-яА-Я]{1,}.*\\S.*"  required >
                               <span style="color: #5296aa;">
                                {{languageType?.registerPage?.passwordSentToEmailAddressMessage}}
                                </span>
                                    <input type="text" style=" outline: none;" [(ngModel)]="fname" class="form-control ng-untouched ng-pristine ng-valid" placeholder="{{languageType?.registerPage?.firstNamePlaceholder}}" name="fname" required >
                                    <input type="text" style=" outline: none;" [(ngModel)]="lname" class="form-control ng-untouched ng-pristine ng-valid" placeholder="{{languageType?.registerPage?.lastNamePlaceholder}}" name="lname" required >
                                    <input type="text" style=" outline: none;" [(ngModel)]="instagramId" class="form-control ng-untouched ng-pristine ng-valid" placeholder="{{languageType?.registerPage?.instagrameIdPlaceholder}}" name="instagramId" required >
                      </div>
                       <button   type="submit" class="btn btn-login">
                        {{languageType?.registerPage?.registerButtonTitle}}
                      </button>
                      </div>
                    </div>
                </div>
           </div>
       </form>
   </div>
</ion-content>