.topicon{
    background-image: linear-gradient(45deg, #b4b0db, #b7d8e2) ;
}
.tabbtn{
    background-image: linear-gradient(45deg, #b4b0db, #b7d8e2) ;
    color:  white ;
    font-size: 20px
}
.tabbtn1{
    background-image: linear-gradient(45deg, #b4b0db, #b7d8e2) ;
    color:  white ; 
    font-size: 20px ; 
    padding-top: 2px
}