<ion-menu side="right" >
  <ion-content class="topicon">
      <ion-list>
      <div class="menuLogo">

      </div>
    </ion-list>
    <ion-list>
      <button class="tabbtn" menuClose ion-item (click)="editprofile()">{{languageType?.menu?.editProfile }}</button>
    </ion-list>
    <ion-list>
      <button  class="tabbtn1" menuClose ion-item >{{languageType?.menu?.editProfile }}</button>
    </ion-list>
    <ion-list>
      <button class="tabbtn1" menuClose ion-item (click)="orderlist()"> {{languageType?.menu?.editProfile }}</button>
    </ion-list>
    <ion-list>
      <button class="tabbtn1" menuClose ion-item (click)="logout()" >{{languageType?.menu?.editProfile }}</button>
    </ion-list>
 </ion-content>
</ion-menu>
