#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
    #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  ion-header {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
  }
  .menu-icon {
    width: 47px;
    position: absolute;
    left: 83%;
    top: 18px;
  }
  .logo .brand-name {
    font-size: 31px;
    font-family: "MyriadProRegular";
    white-space: nowrap;
    max-width: 101vw;
    min-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .hambergur .dropdown-menu {
    padding: 0;
    background: #262a49;
    color: #fff;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 36px;
    border-radius: 0;
    width: 380px;
    max-width: 70vw;
    left: auto !important;
    right: 0;
    top: 100% !important;
    -webkit-transform: translate3d(0, 0, 0px) !important;
    transform: translate3d(0, 0, 0px) !important;
    position: right;
  }
  * {
    box-sizing: border-box;
  }
  .page-heading {
    font-size: 120px;
    line-height: 120px;
    font-family: "MyriadProCond";
    font-weight: 500;
  }
  .finel-msg {
    &.page-heading {
      font-size: 10.4vw;
      line-height: 10.4vw;
      width: 80vw;
      padding-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: initial;
      display: inline-block;
      color: #85bdcc;
  
      .sub-title {
        font-size: 46px;
        line-height: 50px;
        margin-left: 10px;
      }
    }
    .user-profile {
      bottom: 0px;
      line-height: 37px;
    }
  }
  .bg-gradient-blue {
    background-image: linear-gradient(45deg, #b4b0db, #b7d8e2);
    color: #fff;
  }
  .nav {
    padding: 12px 10px;
  }
  .res-contant {
    height: 590px;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .day-container {
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
  }
  .marthon-day-list .row {
    justify-content: flex-end;
  }
  .day-no {
    background: #a9cedc;
    padding: 15px;
    color: #fff;
    height: 100%;
    position: relative;
  }
  
  .day-block .start-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 15px;
    text-align: right;
  }
  .start-block {
    background: #c0e4ed !important;
    height: 113px;
  }
  .day-block .start-block {
    padding: 0 8px;
  }
  
  .day-name{
    font-size: 18px;
    line-height: 10px;
    padding: 2vw 0 0 1.6vw;
   
  }
  .day-digit {
    font-size: 6.667vw;
    line-height: 12vw;
  }
  .day-digit {
    font-size: 11.667vw;
    line-height: 25.4vw;
    text-align: right;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    padding: 0 14vw;
    font-weight: 400;
  }
  .start-head {
    font-size: 33px;
    line-height: 2.2;
    color: #fff;
    font-family: "MyriadProCond";
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
  }
  .frame{
    width: 100vw;
    max-width: 100%;
    height: 100vw;
    max-height: 500px;
  }
  .showwelcome{
    top :0px; 
    float: right;
    font-size: 50px;
    text-align: end;
    color: rgb(143, 255, 252) !important;
    position: absolute;
    right: 0;
    margin-right: 10px;
  }