<ion-content [fullscreen]="true">
  <ion-header class="header header-md">
    <div class=" bg-gradient-blue" style="cursor:pointer">
      <div class="header-holder ">
        <nav class="nav ">
          <div class="logo">
  
            <div (click)="goToLandingPage()" class="brand-name">{{data?.title}}</div>
          </div>
          <div class="menu-icon ">
           <div class="dropdown hambergur ">
              <ion-button menuToggle type="button" (click)="menu()">
                  <img src="../../../assets/icon/hamburger.png">
              </ion-button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <ion-item class="day-container drop-light" *ngIf="data?.marathonId != null">
      <ion-item class="header-holder">
        <ion-item class="page-contant-header" style="padding-top: 2px;">
         <ion-text class="page-heading finel-msg " style="color: #85bdcc;" >{{languageType?.marathonStartPage?.startNameTIttle}}</ion-text>
            <ion-text class="user-profile " style="line-height: 37px;" >
              <img alt="" src="/assets/icon/user.png">
            </ion-text>
        </ion-item>
      </ion-item>
    </ion-item>
  </ion-header>
  <div class="day-container res-contant custom-scrollbar drop-light z-i-3" ng-reflect-ng-class="miyabi-container res-contant c">
    <div class="" style="margin-top: -5px;">
      <div class="welcome-text" style="padding-top: 5px;" ng-reflect-ng-style="[object Object]">
        <div class="miyabi-wrapper " ng-reflect-ng-style="[object Object]">

          <!-- welcome -->
         <div class="topic-text-contant">
           <!-- onCancel timer==================== -->
            <!-- <div style="padding : 0 !important" *ngIf="showOrderDetailMessage" class="miyabi-container res-contant custom-scrollbar   z-i-3">
              <div [innerHTML]="welcomeMessage | safeHtml  "> </div>
            </div> -->
              <!-- <div *ngIf="data?.welcomeMessage?.contentType=='text' && data?.isMarathonStart">
               <div *ngIf="!checkfinalmessages" [innerHTML]="welcomeMessage | safeHtml "> </div>
               <div *ngIf="checkfinalmessages" [innerHTML]="datashoe | safeHtml"> </div>
              </div> -->
            <div *ngIf="data ?.welcomeMessage ?.contentType=='video'  && data?.isMarathonStart" class=" text-center" style="padding: 0">
             <iframe frameborder="0" allow="accelerometer; encrypted-media; picture-in-picture" allowfullscreen class="video-des" [src]="videoUrl" class="frame" ></iframe>
           </div>
         </div>
         </div>
         <div *ngIf="!data?.isMarathonStart && minutes && !showOrderDetailMessage ">

          <ion-icon name="close" (click)="showWelcomeMessage()" class="close" class="showwelcome" ></ion-icon>

          <div class="timer-container">
          <div class="merathon-headings">
              <h4> {{languageType?.marathonStartPage?.startMarathonTimerWelcomeMessage}} </h4>
              <h4> {{languageType?.marathonStartPage?.startMarathonTimerWelcomeMessageLineTwo}}  </h4>
         </div>
         <div class="timer-digits-block">
              <div class="timer-digit days">
                <div class="digit"> {{minTwoDigits(days)}}</div>
                <div class="digit-title">{{languageType?.marathonStartPage?.daysTitle}} <br> </div>
              </div>
              <div class="timer-digit hours">
                <div class="digit">{{minTwoDigits(hours)}}</div>
                <div class="digit-title">{{languageType?.marathonStartPage?.hoursTitle}}  <br></div>
              </div>

              <div class="timer-digit minuts">
                <div class="digit"> {{minTwoDigits(minutes)}} </div>
                <div class="digit-title">{{languageType?.marathonStartPage?.minutesTittle}} <br> </div>
              </div>

         </div>
            <div class="merathon-headings">
              <h4>{{languageType?.marathonStartPage?.startMarathonTimerWelcomeMessageLineThree}} <br>
                  {{languageType?.marathonStartPage?.startMarathonTimerWelcomeMessageLineFour}} <br>
                  {{languageType?.marathonStartPage?.startMarathonTimerWelcomeMessageLineFive}} <br>
              </h4>
            </div>
          </div>
        </div>
       </div>
      </div>
     </div>
       <!--***********************8 RULES DROPDOWN LIST********************* -->    
     <div *ngIf="!checkfinalmessages && data?.productType == 'Marathon'" class="miyabi-container first-section ">
      <div class="dropdown-miyabi" style="margin-bottom: 25px;">
        <ion-button class="drop-head bg-pink" (click)="showRules()">
          <h2>{{languageType.marathonStartPage.regulations}} </h2>
          <ion-text> {{languageType.marathonStartPage.marathon}} </ion-text>
          <img slt="style" style="z-index: 1;" class="drop-arrow" src="../../assets/imgs/corner-pink.png" />
          <img slt="style" style="z-index: 1;" class="drop-badge" src="../../assets/imgs/circle-flag.png" />
        </ion-button>
        <!-- rules-details -->
        <ul [ngClass]="(showContent)?' collapse show anim-open drop-detail':' anim-close collapse drop-detail '">
         <div [innerHTML]="Rules | safeHtml"> </div>
          <li style="background: #afbce6;">
            <div class="miyabi-wrapper">
              <ion-button class="detail-close" (click)="showRules()"> <img alt="close" src="../../assets/icon/close-icon.png" /> </ion-button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="order-footer" *ngIf="data?.isExtensionExtended " style="margin-top: 12px; margin-bottom: 6px;">
       <div class="expiry-about" style="font-family: MyriadProBoldCond !important"> Вы начали 30 дневную программу продления с
        {{data?.extendedExtensionStartDate | date : 'd '}}
        {{russianMonths(data?.extendedExtensionStartDate)}}
         <ion-text *ngIf="data?.productType == 'GreatExtension'">(GE)</ion-text>
         <ion-text *ngIf="data?.productType == 'Extension'"> (SE)</ion-text>
      </div>
     </div>

         <div class="day-container ">
         <div class="">
          <div class=" z-i-4">
           <div class="marthon-day-list">
                <div *ngIf=" daydetails " >{{daydetails.details}} </div>
                <ion-grid>
                 <ion-row  *ngFor="let items of monthDay | keyvalue">
                   <ion-col size="4" class=" day-block dayloop" *ngFor="let item of items.value.days | keyvalue">
                          <div  [ngStyle]="{'background-color':dayColor[item.key]}" (click)="onGoToMarathanDayExercise(id,day)">
                          <ion-text class="day-name" >{{languageType.marathonStartPage.day}}</ion-text>
                          <ion-text class="day-digit" (click)=" getDayDetails(item)">{{item.value}}</ion-text>
                    </div>
                  </ion-col>
                  <div *ngIf="data?.productType == 'GreatExtension' && data?.isExtensionExtended && first" id="count{{i}}" class="col-4 day-block">
                    <div *ngIf="data != null" class="day-no day-ext day-left " style="background: #b6bbdd ">
                     <div class="day-name day-ext-detail"> Доступ к материалам продлен до<br>
                        <div>{{data?.extendedExtensionEndDate | date : 'd '}} {{russianMonths(data?.extendedExtensionEndDate)}}</div>
                      </div>
                    </div>
                   </div>
                  <ion-col size="8" class=" day-block"  >
                    <div class="day-no day-1 start-block">
                      <div class="start-date">
                        <ion-text class="start-head ml-auto" style="margin-right: 7px;"> 
                          {{languageType.marathonStartPage.week}}{{items.key}}
                        </ion-text>
                      </div>                   
                    </div>
                  </ion-col>
                  
                </ion-row>
       </ion-grid>
      </div>
      <div class="bg-gradient-blue" style="cursor:pointer" >
        <div class="miyabi-container ">
          <nav class="nav footer">
            <div class="logo" (click)="moveUp()">
              
              <a  class="brand-name">{{languageType?.marathonStartPage?.goUp}}
                <img src="/assets/imgs/arrow-top.png" />
              </a>
            </div>
    
            <div class="language-con">
              <p [ngClass]="(langCode == 'Rus')?'fabBtnActive':'language'" (click)="russian()" style="float: right; ">Ru
              </p>
              <p [ngClass]="(langCode == 'Eng')?'fabBtnActive':'language'" (click)="english()"
                style="float: right;margin: 0 4px;">En</p>
              <p style="float: right;" (click)="italian()" [ngClass]="(langCode == 'Ita')?'fabBtnActive':'language'">It
              </p>
            </div>
          </nav>
        </div>
      </div>
  </div>
  </div>
  </div>
 
</ion-content>

  



