<ion-header>
  <ion-toolbar>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="body">
    <div class="miyabi-container martahon-bg">
      <div class="alert alert-danger text-center" style="margin-bottom: 0rem !important">     
            You have already purchased this marathon
          </div>
    <div class="marathon-name">
        Test Content <span class="date">undefined</span>
      </div>
      <div class="date-section ">
     <div class="date">
          <span> Start  </span> 31  January
        </div>
     </div>
  <div class="payment-details-section align-center flex-column">
        <div class="title">
          <span class="titile"> Payment details:  </span>
        </div>
    <div class="detial-person ">
          <div class="price-section">
          <span class="titile">  Cost of participation: </span>
           <span class="price">1000 p</span>
         </div>
          <div class="detail-group">
           <span class="titile">  Name: </span>
            <span>  test user </span>
          </div>
         <div class="detail-group">
           <span class="titile">  E-mail: </span>
            <span>  pizone.test1@gmail.com </span>
        </div>
         <div class="mt-3">
            <div style="display: flex; width: auto;">
              <label class="switch">
                <input id="togBtn" type="checkbox">
                <div class="slider round"></div>
              </label>
              <span class="gift-coupon">buy as a gift </span>
            </div>
           <div class="popup-coupon-block">
            <input class="btn-input btn-light-payment" placeholder="enter coupon">
            </div>
          </div>
        </div>
      </div>
  <div class="payment-options">
        <div class="head align-center">
          <h1> Choose a payment method: </h1>
        </div>
  <div class="payment-modes row">
          <div class="payment-mode active" ng-reflect-ng-class="payment-mode active">
            <div class="payment-option">
              <div class="checkbox">        
                <img class="check-img" src="../../assets/imgs/images/checkbox-checked.png">
                <img class="uncheck-img" src="../../assets/imgs/images/checkbox-uncehcked.png">
              </div>  
              <div class="option-detail">
                <div class="title">                 
                   ROBOKASSA
                </div>
                <div class="detail">
                    VISA, Mastercard, MIR, Alfa-Bank, Halva, Yandex money, QIWI, WebMoney, Samsung pay                  
                </div> 
              </div>
            </div> 
          </div>  
          <div class="payment-mode" ng-reflect-ng-class="payment-mode">
            <div class="payment-option"> 
              <div class="checkbox">
                  <img class="check-img" src="../../assets/imgs/images/checkbox-checked.png">
                  <img class="uncheck-img" src="../../assets/imgs/images/checkbox-uncehcked.png">
              </div>
              <div class="option-detail">
                <div class="title">
                  PAYPAL
                </div>
                <div class="detail"></div>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="make-payment">
        <p> By clicking the pay button, you agree to the rules of the marathon. </p>
      <div class=" procced-to-payment">
      <button class="btn-input btn-pmt" disabled=""> <a class="buy"> Buy   1000 р.</a> </button>
        </div>
      </div> 
    </div>
    <div class="bg-gradient-blue" style="cursor:pointer">
        <div class="miyabi-wrapper ">
            <nav class="nav footer">
                <div class="logo">
                      <a class="brand-name">Up <img src="../../assets/imgs/arrow-top.png"> </a>
                </div>
                <div class="language-con">
                  <p style="float: right; " class="language" ng-reflect-ng-class="language">Ru</p>
                  <p style="float: right;margin: 0 4px;" class="fabBtnActive" ng-reflect-ng-class="fabBtnActive">En</p>
                  <p style="float: right;" class="language" ng-reflect-ng-class="language">It</p>
              </div>
            </nav>
        </div>
    </div> 
  </div>
</ion-content>
