.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 0rem !important;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.marathon-name {
    color: #818181;
    display: block;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-family: "MyriadProCond";
    background-color: #d9f1f5;
}
.date-section {
    min-height: 30px;
    padding-top: 4px;
}
.date-section {
    min-height: 50px;
    background-color: rgba(143, 255, 251, 0.2);
    text-align: center;
    padding-top: 10px;
}
.payment-details-section {
    color: #717171;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    padding: 0 0 13px;
}
.align-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.detial-person span.titile {
    color: rgb(111, 209, 204);
}
.detial-person > div > * {
    width: 50%;
    -webkit-box-flex: 1;
    word-break: break-all;
    flex: 1 1 0%;
}
.payment-details-section .price-section .price {
    color: rgb(191, 0, 134);
}
.detial-person[_ngcontent-cke-c1] > div[_ngcontent-cke-c1] > *[_ngcontent-cke-c1] {
    width: 50%;
    -webkit-box-flex: 1;
    word-break: break-all;
    flex: 1 1 0%;
}
.payment-details-section .title {
    color: rgb(39, 130, 150);
    font-size: 20px;
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-family: MyriadProbold !important;
    padding: 5px 0px;
}
.payment-options {
    min-height: 23vh;
    background-color: rgba(188, 218, 221, 0.35);
    padding-bottom: 0;
}
.make-payment {
    text-align: center;
    padding-bottom: 50px;
}
.date-section .date {
    color: #a1217c;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    font-family: "MyriadProCond";
}
.payment-details-section .title {
    font-size: 18px;
    line-height: 23px;
}
.payment-details-section .title {
    color: #278296;
    font-size: 20px;
    line-height: 30px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-family: MyriadProbold !important;
}
.payment-details-section .title {
    color: rgb(39, 130, 150);
    font-size: 20px;
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    font-family: MyriadProbold !important;
    padding: 5px 0px;
}
.payment-options .head {
    // background-image: url(bg-head.8b1219b….png);
    background-size: cover;
    background-position: center;
    line-height: 25px;
    font-family: MyriadPro-Cond;
    text-align: center;
    position: relative;
}
.payment-options .payment-modes {
    max-width: 768px;
    margin: 0px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.16);
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(112, 209, 204);
    border-image: initial;
    transition: all 0.4s ease 0s;
    border-radius: 34px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 31px;
    margin-bottom: 0px;
}
.btn-input.btn-light-payment {
    font-size: 16px;
    width: 100%;
    text-align: center;
    line-height: 1.2;
    text-transform: initial;
    font-family: MyriadProRegular;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(112, 209, 204) !important;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(112, 209, 204);
    border-image: initial;
    padding: 4px 20px;
    border-radius: 50px;
    margin: 0px auto;
}
.payment-options .payment-modes {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 6px 6px 6px;
    margin: 0px auto;
}
.payment-options .payment-modes .payment-mode {
    max-width: 250px;
    border-radius: 10px;
}
.payment-options .payment-modes .payment-mode.active .payment-option {
    background-color: rgb(111, 209, 204);
    background-position: center center;
    border-color: rgb(230, 230, 230);
}
.payment-options .payment-modes .payment-mode .checkbox {
    width: 21%;
}
.payment-options .payment-modes .payment-mode .option-detail {
    width: 78%;
    opacity: 0.5;
}
.payment-options .payment-modes .payment-mode {
    max-width: 250px;
    border-radius: 10px;
}
.payment-options .payment-modes .payment-mode .payment-option {
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 33vw;
    max-height: 180px;
    line-height: 1.55;
    min-height: fit-content;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 10px;
    background-position: center center;
    border-color: rgb(230, 230, 230);
}
.make-payment {
    text-align: center;
    padding-bottom: 50px;
}
.make-payment .btn-pmt {
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 1.55;
    font-weight: 600;
    background-color: rgb(176, 119, 172);
    border-width: 0px;
    background-position: center center;
    border-color: rgb(165, 103, 164);
    padding: 16px 15px;
    border-radius: 10px;
}
.buy{
    color:#fff
}
.make-payment p {
    font-size: 20px;
    color: rgb(173, 73, 133);
    width: 525px;
    max-width: calc(100vw - 30px);
    margin: 11px auto;
}
 .payment-options .payment-modes .payment-mode .payment-option {
    max-height: 150px;
    height: auto;
}