
<ion-content>
     <div class="landing-page">
        <div class="language-con">
            <p [ngClass]="(langCode == 'Rus')?'fabBtnActive':'language'" (click)="russian()" style="float: right; ">Ru
            </p>
            <p [ngClass]="(langCode == 'Eng')?'fabBtnActive':'language'" (click)="english()"
                style="float: right;margin: 0 4px; margin-top:20px">En</p>
            <p style="float: right;" (click)="italian()" [ngClass]="(langCode == 'Ita')?'fabBtnActive':'language'">It
            </p>
        </div>
     <div class="miyabi-contianer">
             <div class="logo-detail"><img src="../../assets/icon/logo-details-sm.svg" /></div>
             <div class="">
                 <button class="login-btn" style="font-family: MyriadProBoldCond ; color : #fff" (click)="login()">{{languageType?.landingPage?.loginButtonTittle}}</button>
             </div>
            </div>
        
        <ul class="offer-avail" *ngFor="let item of getMarathon">
            <li class="offer-block">
                <div class="offer-about-block">
                    <div class="img-sec">
                        <img class="offer-img" src="https://marathon.miyabi.academy\MiyabiContent\Images\ec03348e-5ac5-4133-9bef-2db3e6c52e16.png">
                     </div>
                    <div class="detail-sec">
                        <div>
                            <p> <strong> {{item?.title}}</strong> </p>
                            <p> {{item?.subTitle}}</p>
                            <p> {{languageType?.landingPage?.startNameTitle}}
                                 <strong style="font-family: MyriadProBoldCond !important">{{dateFormatConvert(item.startDate)}}</strong> </p>
                            <p>  {{languageType?.landingPage?.marathonLength}}
                                {{item.days}}

                                {{daySpelling(item.days)}}
                            </p>
                        </div>
                     <p class="Cost"> 
                            {{languageType?.landingPage?.costForParticipation}}
                            {{item.cost}}
                            {{languageType?.landingPage?.costCode}}
                     </p>
                </div>
                </div>
                <button class="btn btn-join mt-auto">  {{languageType?.landingPage?.join}} </button>
                <a class="read-more" data-target="#myModal" data-toggle="modal">{{languageType?.landingPage?.learnMore}} </a>
            </li>
        </ul>
  </div>
</ion-content>