  .bg-gradient {
      background-image: linear-gradient(140deg, #639299, #639298);
      box-shadow: 0px 2px 2px #00000024;
    }
  
    .row {
      margin-left: 0px !important;
      margin-right: 0 !important;
    }
  
    .landing-page {background-image: url("../../assets/icon/mma-background-375.png"); 
      background-size: 100% 100%;
      background-position: top center;
      font-family: "MyriadProRegular";
      // padding-top: 22px;
      padding-bottom: 48vh;
      min-height: calc(100vh - 60px);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .logo-detail {
      text-align: right;
      padding: 0 0;
      max-width: 80%;
      width: calc(100vw - 30px);
      margin-left: 14%;
      padding-top: 34pt;
    }
  
    .miyabi-contianer {
      max-width: 720px;
      margin: 0 auto;
      z-index: 1;
      position: relative;
    }
  
    .login-btn {
      z-index: 1000;
      width: 75.734%;
      padding: 2px 10px 8px;
      border-radius: 25px;
      background-color: rgba(4, 159, 173, 0.73);
      font-size: 27px;
      text-align: center;
      max-width: 80vw;
      margin: 0 auto;
      display: block;
      margin-bottom: 12px;
      box-shadow: none;
    }
  
    .btn {
      line-height: 1;
      border: none;
    }
  
    .language-con {
      top: 0;
      right: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      background: transparent;
      box-shadow: none;
      position: absolute;
      left: 0;
      height: auto;
      width: 100%;
    //   font-family: $font-cond;
      padding: 3px 5px;
      z-index: 1000;
    }
    .language {
      height: 30px;
      width: 30px;
      border-radius: 50px;
      background-color: transparent !important;
      color: #fff;
      font-size: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid #fff;
  }
    .fabBtnActive {
      height: 30px;
      width: 30px;
      border-radius: 50px;
      background-color: rgba(4, 159, 173, 0.73) !important;
      border: 1px solid rgba(4, 159, 173, 0.73);
      color: #fff;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
   
 .modal-open .modal {
      overflow-x: hidden;
      overflow-y: auto;
      background: #3333;
    }
  
   
    .offer-block .img-sec img {
      width: 100%;
      border-radius: 50%;
      margin-bottom: 10px;
      max-width: 140px;
      max-height: 140px;
      height: 40vw;
    }
  
 .heading-bar {
      background-image: url(../../assets/icon/bg-head.png);
      background-size: cover;
      background-position: center;
      -webkit-box-shadow: 0px 1px 5px #b5c0de;
      box-shadow: 0px 1px 5px #b5c0de;
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 25px;
      font-family: "MyriadProCond";
      text-align: center;
      color: #e567ac;
      padding: 30px 12px;
      position: relative;
      background-color: #b5c0de;
  }
  .offer-block {
    display: block;
    background-color: #fff;
    text-align: left;
    margin-bottom: 1px;
    padding: 10px 5px;
    position: relative;
}
.offer-block .offer-about-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.offer-block .detail-sec {
  width: calc(100% - 140px);
  padding: 0 10px 8px;
  position: relative;
  text-align: left;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.offer-block .detail-sec strong {
  font-family: "MyriadProBoldCond";
  color: #007e9e;
  font-weight: 800;
  letter-spacing: 0;
  color: #007e9e;
}
.offer-block .detail-sec p {
  font-family: "MyriadProCond";
  font-size: 18px;
  line-height: 22px;
  color: #007e9e;
  margin: 0px;
}
.btn {
  line-height: 1;
  border: none;
}
.btn-join {
  padding: 7px 12px;
  padding-bottom: 10px;
  font-size: 22px;
  font-family: "MyriadProBoldCond";
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 25px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#70d1cc), to(#007e9e));
  background: linear-gradient(#70d1cc, #007e9e);
  border-radius: 50px;
  margin: 0 auto;
  min-width: 146px;
}
.offer-block .read-more {
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  color: #007e9e;
  right: 10px;
  bottom: 10px;
  font-family: "MyriadProBoldCond";
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 425px){
  .offer-block .img-sec {
    width: 40%;
    max-width: 140px;
}
}

  @media only screen and (min-width: 600px) {
    .logo-detail {
      text-align: right;
      padding: 0 0;
      max-width: 80%;
      width: calc(100vw - 30px);
      padding-top: 56px;
    margin-left: 0px;
  }
  .heading-bar {
    
    background-size: cover;
    background-position: center;
    box-shadow: 0px 1px 5px #b5c0de;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 25px;
    font-family: "MyriadProCond";
    text-align: center;
    color: #e567ac;
    padding: 30px 12px;
    position: relative;
    background-color: #b5c0de;
    width: 94%;
    margin-left: 25px;
}
  }
  